.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  filter: drop-shadow(0.4rem 0.4rem 0.4rem var(--blackNavBar));
  position: fixed;
  width: 100vw;
  z-index: 1;
  overflow: hidden;
}

.MyName {
  text-decoration: none;
}

.SectionLinks span {
  padding: 0.3rem;
  color: var(--white-full);
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.SectionLinks span:hover {
  color: var(--gray);
}

.LinksDefault {
  text-decoration: none;
}

.ContainerLogo p {
  color: var(--white-full);
  font-size: 1.5rem;
  cursor: pointer;
}

.ContainerLogo span {
  color: var(--green-500);
}

.SocialNetworks div span{
  padding: 0.3rem;
  font-size: 1.5rem;
}