.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  filter: drop-shadow(0.4rem 0.4rem 0.4rem var(--blackNavBar));
  position: fixed;
  width: 100vw;
  z-index: 100;
  overflow: hidden;
}

.MyName {
  text-decoration: none;
}

.HeaderNavBar {
  display: flex;
}

.SectionLinks span {
  padding: 0.3rem;
  color: var(--white-full);
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.SectionLinks span:hover {
  color: var(--gray);
}

.LinksDefault {
  text-decoration: none;
}

.ContainerLogo p {
  color: var(--white-full);
  font-size: 1.5rem;
  cursor: pointer;
}

.ContainerLogo span {
  color: var(--green-500);
}

.SocialNetworks div span {
  padding: 0.3rem;
  font-size: 1.5rem;
}

.Menu button {
  cursor: pointer;
}

.MenuOptions {
  display: flex;
  flex-direction: column;
  width: 60%;
  background: var(--white-full);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

@media screen and (min-width: 1rem) {
  .NavBar {
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .Menu {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .SocialNetworks {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .SocialNetworks .Menu {
    display: flex;
  }

  .MenuOptions {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: var(--background);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem var(--blackNavBar));
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transition: 0.5s;
  }

  .LinksMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
    background: var(--background);
  }

  .LinksMenu .LinksDefault {
    margin-top: 2rem;
  }

  .LinksMenu span {
    width: 100%;
    color: var(--white-full);
    font-size: 1.2rem;
    background: transparent;
  }

  .LinksMenu span:hover {
    transition: 0.5s;
    background: linear-gradient(to right, var(--blue300), var(--green400));
    color: var(--white-full);
    padding: 0.6rem;
    border-radius: 1rem;
  }

  .Menu div button {
    border: none;
  }

  .ContainerLinks {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .Menu {
    display: none;
  }
}
