:root {
  --white-full: #fff;
  --background: hsl(220, 42%, 14%);
  --blue300: #3498db;
  --green400: #2ecc71;
  --green-500: #00ff7f;
  --green-600: #19dc16;
  --black: #111;
  --blackNavBar: #161616;
  --gray: #d5d5d5;
}

.html {
  width: 100vw;
  height: 100vh;
}

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--background);
}
